* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin-left: auto;
  box-sizing: border-box;
  margin-right: auto;
}